[submodule "themes/hugo-tranquilpeak-theme"]
	path = themes/hugo-tranquilpeak-theme
	url = https://github.com/kakawait/hugo-tranquilpeak-theme.git
[submodule "themes/hugo-kiera"]
	path = themes/hugo-kiera
	url = git@github.com:avianto/hugo-kiera.git
